.git/
.dockerignore
__pycache__/
*.py[cod]
*.log
.DS_Store
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

features/*
!features/.gitkeep
directions/
datasets/

TruthfulQA/.git/
TruthfulQA/truthfulqa.egg-info/

validation/results/
validation/results_dump/*
!validation/results_dump/head_sorted/
!validation/results_dump/head_sorted/*.npy
validation/results_dump/answer_dump/
validation/results_dump/summary_dump/
validation/results_dump/head_sorted_lof/
validation/sweeping/logs/
get_activations/logs/
